#page-header {
    height: 60px;
    border-bottom: $bordercolor;
    #menu-icon {
        height: 72%;
        padding-left: 16px;
        padding-top: 10px;
    }
    div {
        width: 292px;
        vertical-align: top;
        height: 100%;
        display: inline-block;
        @media only screen and (min-width: $secondbreakpoint) {
            width: 35%;
            padding-left: 30%;
        }
        h1 {
            @include inline-block;
            @include font(Nunito, 40px, bold);
            @include align(top, 15px);
            letter-spacing: 2px;
        }
        #follow-gizmodo {
            color: #28ADE6;
            @include font(Roboto Condensed, 13px, normal);
            @include inline-block;
            @include align(top, 25px);
            img {
                width: 12px;
                padding: 0% 6px;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
    #login-button {
        @media only screen and (min-width: $firstbreakpoint) {
            @include inline-block;
            @include float-right;
            @include color(#fff, #aaa);
            border: 1px solid rgba(0, 0, 0, 0.1);
            @include border-radius(4px);
            margin: 15px;
            padding: 6px 12px 6px 12px;
            font-family: 'Roboto Condensed';
            letter-spacing: 0.3px;
        }
        &:hover {
            @include color(#28ADE6, #fff);
        }
    }
    #search-icon {
        @media only screen and(min-width: $secondbreakpoint) {
            @include inline-block;
            width: 20px;
            padding-bottom: 30px;
        }
    }
}
