.trending-articles,
footer {
    padding: 32px 20px 10px 20px;
    width: 28%;
    form {
        background-color: #f5f5f5;
        padding: 15px;
        margin-bottom: 30px;
        h3 {
            display: inline;
            @include font(Roboto Condensed, 16px, normal);
        }
        img {
            width: 15px;
            @include float-right;
        }
        input {
            border: none;
            margin-top: 8%;
            background-color: #f5f5f5;
            border-bottom: $bordertrending;
            width: 70%;
            @include font(Roboto Condensed, 12px, normal);
        }
        button {
            @include button();
        }
    }
    h1 {
        @include font(Roboto Condensed, 20px, normal);
        color: rgba(0, 0, 0, 0.5);
        span {
            color: #000;
        }
    }
    .trending-article-wrapper {
        padding-top: 6%;
        figure {
            @include inline-block;
            width: 32%;
            img {
                width: 100%;
                height: 65px;
            }
        }
    }
    .trending-content {
        img {
            width: 100%;
        }
        h4 {
            @include font(sans-serif, 16px, bold);
            margin: 5% 0% 3% 0%;
        }
        time {
            @include font(Roboto Condensed, 12px, normal);
            color: #aaa;
        }
    }
}

@media only screen and (max-width: $thirdbreakpoint) {
    .trending-articles {
        display: none;
    }
}
