footer {
    clear: both;
    padding: 32px 6%;
    width: 88%;
    h3 {
        display: block;
    }
    @media only screen and (min-width: $firstbreakpoint) {
        width: 600px;
        margin: auto;
    }
    @media only screen and (min-width: $thirdbreakpoint) {
        width: 400px;
        margin-left: 27%;
    }
    #guide {
        @include footeralign(center, 5%);
        li {
            @include footercontent(#333, 5%, 14px);
        }
    }
    #terms {
        @include footeralign(center, 10%);
        li {
            @include footercontent(#aaa, 4%, 11px);
        }
    }
}
