$primaryfont: sans-serif;
$bordercolor: 1px solid #ddd;
$bordertrending: 1px solid #aaa;
$buttonbackground:#0093ec;
$greytext:#aaa;
$white:#fff;
$black:#000;
$darkgrey:#333;
$lightblue:#28ADE6;
$whitesmoke:#f5f5f5;
$breaksmall:370px;
$firstbreakpoint: 600px;
$secondbreakpoint: 800px;
$thirdbreakpoint:1024px;
